<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BGTestApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <BGTestApp.Properties.Settings>
      <setting name="ConnectionStrings" serializeAs="String">
        <value>[{"ServerName" : "Server1", "DatabaseHost" : "192.168.4.122", "DatabasePort" : 5432, "DatabaseName" : "nprog", "UserId" : "krn", "Password" : "krn", "ServerSize" : "1000"}, {"ServerName" : "Server2", "DatabaseHost" : "192.168.4.239", "DatabasePort" : 5432, "DatabaseName" : "nprog", "UserId" : "krn", "Password" : "krn1015", "ServerSize" : "1000"}]</value>
      </setting>
      <setting name="SpreadSheetId" serializeAs="String">
        <value>1KewdQFRR898O743PqMfOZTcpWouQT6kZVM0oGEvirlo</value>
      </setting>
      <setting name="ClientId" serializeAs="String">
        <value>770463699938-rgsg4017hgpkru4tl26bc7v7di5p2375.apps.googleusercontent.com</value>
      </setting>
      <setting name="ClientSecret" serializeAs="String">
        <value>4ty1y5nMBcs5SaSDNJAVWFGk</value>
      </setting>
      <setting name="TimeoutInSeconds" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SpreadSheetName" serializeAs="String">
        <value>BGTest</value>
      </setting>
    </BGTestApp.Properties.Settings>
  </userSettings>
</configuration>